.navbar
  .navbar-inner
    %a.brand{:href => root_path} IMS Simulator
    %ul.nav
      %li{:class => active?(root_path, dispensers_path, dispenser_sync_path)}
        = link_to 'Dispensers Sync', dispensers_path
      %li{:class => active?(plc_sync_path)}
        = link_to 'PLC Sync', plc_sync_path
