.navbar
  .navbar-inner
    %a.brand{:href => root_path} IMS Simulator
    %ul.nav
      %li{:class => active?(root_path, dispensers_path, dispenser_sync_path)}
        = link_to 'Dispensers', dispensers_path
      %li
        %a{:href => "#"} PLCs
